html {
  cursor: url("/cursor.cur"), default;
}

#login-content-button,
#player-logo-button,
#window-playlist ul li,
#play-button {
  cursor: url("/link.cur"), pointer;
}

body {
  margin: 0;
}

#login-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #3f7cf9, #79aafc);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.hidden {
    display: none;
  }

  #login-top-bar,
  #login-bottom-bar {
    width: 100%;
    height: 80px;
    background-color: #0a2ab3;
    position: absolute;
  }

  #login-top-bar {
    top: 0;
    left: 0;
  }

  #login-bottom-bar {
    bottom: 0;
    left: 0;
  }

  #login-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 80%;
  }

  #login-content-left,
  #login-content-right {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #login-content-left {
    p {
      font-family: "Tahoma";
      font-size: 1.3rem;
      color: white;
    }
  }

  #login-content-button {
    width: 80%;
    height: auto;
    display: flex;
    background: linear-gradient(to right, #0b3db9, #0b3db9);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border: 1px solid yellow;
      border-radius: 5px;
    }

    p {
      font-size: 1.2rem;
      color: white;
      margin-left: 10px;
      font-family: "Tahoma";
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

#main-view {
  background-image: url("/wallpaper.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;

  &.hidden {
    display: none;
  }

  #player-logo-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 2;

    img {
      height: 50px;
      width: 50px;
    }

    p {
      margin: 5px 0 0 0;
      color: white;
      font-family: "Tahoma";
    }

    &:hover {
      opacity: 0.8;
    }
  }

  #task-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, #0b3db9, #4d74d6);
    display: flex;
    align-items: center;
    justify-content: space-between;

    #task-bar-start {
      color: white;
      font-family: "Tahoma";
      font-size: 1rem;
      cursor: pointer;
      background: radial-gradient(#0bb934, #74eb5c);
      height: 100%;
      width: fit-content;
      padding: 0 10px;
      display: flex;
      align-items: center;
      border: 1px solid white;
      border-radius: 5px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.window {
  position: fixed;
  width: calc(100vw / 1.5);
  height: calc(100vh / 1.5);
  border-radius: 10px;
  border: none;
  box-shadow:
    1px 1px 4px rgba(0, 0, 0, 0, 0.9),
    -1px 1px 4px rgba(0, 0, 0, 0, 0.9);
  background: #fff;

  &.hidden {
    display: none;
  }
}

.window-content {
  background: #000;
  color: #fff;
  height: 100%;
  font-family: monospace;
  border: 5px solid #0254e2;
  position: relative;

  #play-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    background: linear-gradient(to right, #eaeaea, #ffffff);
    padding: 10px 20px;

    &:hover {
      opacity: 0.8;
    }
  }

  #window-playlist {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    overflow-y: auto;
    border: 1px solid #fff;
    padding: 10px;
    background-color: #111;

    ul li {
      list-style: none;
      padding: 5px;
      font-size: 10px;

      &:hover {
        background-color: #0254e2;
      }
    }
  }
}

.window-input {
  display: block;
  font-family: monospace;
  width: calc(100% - 12px);
  background-color: #000;
  color: #fff;
  border: 4px solid #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 2px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 0;
}

.window-top,
.window-top-no-bind {
  display: flex;
  flex-direction: row-reverse;
  cursor: move;
  text-align: right;
  height: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  background-color: #0254e2;
}

.window-top-buttons {
  display: flex;
}

.window-top-no-bind {
  cursor: inherit;
}

.round {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin-right: 6px;
  box-shadow: 1px 1px 2px #000;
  border: 1px solid #fff;
  background-color: #0254e2;
}

.red {
  cursor: pointer;
  background-color: red;
  color: white;
}

#myWindow {
  z-index: 999;
}

#myWindow2 {
  top: 0;
  left: 500px;
}
